<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mariia M.">
    <meta name="keywords" content="html, css, javascript, vue">
    <meta name="description" content="Basic to Do list">
    <title>toDo</title>
    <link rel="stylesheet" href="./css/index.css">      
    <script src="https://unpkg.com/vue@3"></script>    
    <script defer src="js/index.js"></script>
</head>
<body>
    
    <div class="container" >
        <main id="app">
            <h1 class="logo" id="logo"> <a @click="openLogin()"><span class="to">TO</span><span class="do">DO</span> </a></h1> 
            <section class="login__container" id="login"  v-if="showLoginForm" >
                <form class="login__form">
                    <div class="input">
                        <label class="input__label">
                            Email
                            <input
                                class="input__field"
                                type="email"
                                placeholder="enter your email"
                            >
                        </label>
                    </div>
                    <div class="input">
                        <label class="input__label">
                            Password
                            <input
                                class="input__field"
                                type="password"
                                placeholder="enter your password"
                            >
                        </label>
                        <h4 >Don't have an account?    <a   @click="openRegister()">Sign In</a></h4>
                        <a class="button"  @click="closeLogin()">Enter</a>
                    </div>
                </form>
            </section>
            <section class="sign-up__container" id="register" v-if="showRegisterForm" >
                    <h1>TODO</h1>
                    <h3>Register</h3>
                    <form class="login__form">
                        <div class="input">
                            <label class="input__label">
                                User Name
                                <input
                                    class="input__field"
                                    type="text"
                                    placeholder="enter your name"
                                >
                            </label>
                        </div>
                        <div class="input">
                            <label class="input__label">
                                Email
                                <input 
                                    class="input__field"
                                    type="email"
                                    placeholder="enter your email"
                                >
                            </label>
                        </div>
                        <div class="input">
                            <label class="input__label">
                                Password
                                <input
                                    class="input__field"
                                    type="password"
                                    placeholder="enter your password" 
                                >
                            </label>
                        </div>
                        <div class="input">
                            <label class="input__label">
                                Repeat the password
                                <input 
                                    class="input__field"
                                    type="password" 
                                    placeholder="Repeat the password"
                                >
                            </label>
                        </div>
                        <button
                        class="button"
                        type="submit"
                        @click="">Sign Up</button>
            </section>
            <section class="login__form" v-if="showTasks" >
                <div>
                    
                    <div>
                        <a class="button" @click="showSearch = !showSearch">Search 🔎</a> 
                        <div class="search_form" id="search" v-if="showSearch">
                            <form>
                                <label for="search">Find by name</label>
                                <input  name="search" type="search" v-model="searchRequest">
                            </form>
                        </div>
                        
                    </div>
                    <button class="button" @click="showAddForm= !showAddForm">Add new task</button>
                    <div id="addForm" v-if="showAddForm">
                        <form >
                            <div>
                                <input v-model="newName" class="input__field" type="text" placeholder="New task">
                            </div>
                            <div>
                                <input v-model="newDescription" class="input__field" type="text" placeholder="description">
                            </div>
                            <div>
                                <button class="button" @click.prevent="addTasks">Save</button>
                            </div>
                        </form>
                    </div>
                    <div id="taskList">
                        <h3>ToDo List</h3>
                        <table class="task__table">
                            <tr>
                                <th>Task name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            <tr v-for="task in searchResult" >
                                <td>
                                    <input 
                                        v-if="editableTasks == task.id" 
                                        v-model="editName" 
                                        class="input__field" 
                                        type="text" 
                                    >
                                    <span v-else>{{task.name}}</span> 
                                </td>
                                <td>
                                    <input 
                                        v-if="editableTasks == task.id" 
                                        v-model="editDescription" 
                                        class="input__field" 
                                        type="text"
                                    >
                                    <span v-else>{{task.description}}</span> 
                                </td>
                                <td>
                                    <button 
                                    class="button"
                                    v-if="editableTasks != task.id" 
                                    :disabled="isLoading"  
                                    @click="showEditTask(task.id)">Edit task
                                </button>
                                <button 
                                    class="button"
                                    v-else :disabled="isLoading"
                                    @click="editTask(task.id)">Save
                                </button>

                                <button 
                                    :disabled="isLoading" 
                                    class="button" 
                                    @click="deleteTask(task.id)">Delete
                                </button>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                </div>
            </section>        
        </main>
    </div>
    
</body>
</html>